<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gocantar.cassidy.examples.timer">
    <application>
        <activity android:name=".TimerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="cassidy.com"
                    android:path="/examples/timer"
                    android:scheme="app" />
            </intent-filter>
        </activity>
    </application>

</manifest>